@model CoreApplication.Models.ViewModels.LoginModel


<div class="container login-form">

    <h2>Вход на сайт</h2>

    <a asp-action="Register" asp-controller="Account">Регистрация</a>

    <form asp-action="Login" asp-controller="Account" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="validation" asp-validation-summary="ModelOnly" />*@
        <div>
            <div class="form-group">
                <label asp-for="Login">Логин: </label>
                <input type="text" asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn" />
            </div>
        </div>
    </form>
</div>
