
@model CoreApplication.Models.ViewModels.BookViewModel

<h2>Добавление</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" class="form-control" />

            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="Book.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Год</label>
                <input asp-for="Book.Year" class="form-control" />
                <span asp-validation-for="Book.Year" class="text-danger"/>
            </div>
            <div class="form-group">
                <label class="control-label">Автор</label>
                @Html.DropDownListFor(b=> b.Book.AuthorId, new SelectList(Model.Authors, "Id", "Name"), "Выберите автора",new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Жанр</label>
                @Html.DropDownListFor(b => b.Book.GenreId, new SelectList(Model.Genres, "Id", "GenreName"), "Выберите жанр",new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="control-label">Количество</label>
                <input asp-for="Book.Count" class="form-control" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <a asp-action="BooksEditPage" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>

